$color-primary: #823eb7;
$color-font-primary: #333333;
$color-background-primary: #fff;

$color-border: #e4e4e4;
$color-subtle: #545454;
$color-background-grey: #f7f7f7;

// Media Queries

$breakpoint-mobile: 460px;
$breakpoint-tablet: 720px;
$breakpoint-desktop: 900px;

// Optional

$color-vita-border: #823eb7;
